.circle {
    size: var(--size, 100);
    width: size;
    height: size;
    background-color: var(--color, blue); /* couleur par défaut : bleu */
    border-radius: 50%;
    display: inline-block;  
}
